* {
  margin: 0 !important;
  color: var(--black);
  font-family: 'Segoe UI', sans-serif;
}

:root {
  --black: #1F2937;
  --gray-bg: #F2F2F2;
  --gray-input: #C8C8C8;
  --gray-sidebar: #777E90;
  --hover-bg: #A0A0A0;
  --purple-bright: #570DF8;
  --red-input: #F87272;
  --red-btn: #CF3B3B;
  --red-asterisk: #F00F00;
  --green-btn: #36D399;
  --blue-btn: #007AFF;
  --crystal: #2E7578;
  --isoterm: #FF9334;
}

@media only screen and (max-width: 991px) {
  .top-title h3 {
    font-size: 3vw;
  }

  .side-content {
    left: 112px !important;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand span {
    font-size: 3vw;
  }

  .top-title h3 {
    font-size: 4vw;
  }
}

.text-default {
  color: var(--black) !important;
}

.text-purple {
  color: var(--purple-bright) !important;
}

.text-timeline {
  color: #374151 !important;
}

.text-gray {
  color: var(--gray-sidebar) !important;
}

.text-blue {
  color: var(--blue-btn) !important;
}

.text-asterisk {
  color: var(--red-asterisk);
}

.icon-drive path {
  fill: #3ABFF8;
}

.bg-gray {
  background-color: var(--gray-bg);
}

.bg-gray-input {
  background-color: var(--gray-input);
}

.bg-purple-bright {
  background-color: var(--purple-bright) !important;
}

.bg-green-btn {
  background-color: var(--green-btn) !important;
}

.bg-red-btn {
  background-color: var(--red-btn) !important;
}

.bg-blue-btn {
  background-color: var(--blue-btn) !important;
}

.bg-image-full {
  background-image: linear-gradient(rgba(61, 68, 81, 0.6), rgba(61, 68, 81, 0.6)), url(/src/assets/background-full.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-crystal {
  background-color: var(--crystal);
}

.bg-isoterm {
  background-color: var(--isoterm);
}

.border-gray {
  border: 2px solid var(--gray-sidebar);
}

.border-blue {
  border: 2px solid var(--blue-btn);
}

.form-control, .form-select {
  padding: 0.75rem !important;
  margin: 0.3rem 0 0.5rem !important;
  border: 1px solid var(--gray-input) !important;
}

.input-group {
  margin: 0.3rem 0 0.5rem !important;
}

.input-group .form-control {
  margin: 0 !important;
}

.form-control:focus, .form-select:focus {
  box-shadow: none !important;
  outline: 2px solid var(--gray-input) !important;
  outline-offset: 2px;
}

.input-group:focus-within {
  outline: 2px solid var(--gray-input);
  outline-offset: 2px;
}

.input-group:focus-within *:focus {
  border-right: none !important;
  outline: 0 !important;
}

.password {
  border-right: none !important;
}

.input-group-text {
  background-color: white !important;
  border-width: 1px 1px 1px 0 !important;
  border-color: var(--gray-input) !important;
}

.input-error {
  border: 1px solid var(--red-input) !important;
  margin-bottom: 0.3rem !important;
}

.input-error:focus, .input-error:focus-within {
  border: 1px solid var(--red-input) !important;
  outline: 2px solid var(--red-input) !important;
}

.input-error .form-control, .input-error .input-group-text {
  border: none !important;
}

.error-message {
  color: var(--red-input) !important;
  margin-bottom: 0.5rem !important;
}

.fs-7 {
  font-size: small;
}

.width-fit {
  max-width: fit-content !important;
}

.height-fit {
  max-height: fit-content !important;
}

.width-logo {
  width: 8rem;
}

.width-icon {
  max-width: 2rem !important;
}

.width-team {
  max-width: 3.5rem;
}

.nav-link {
  color: white !important;
  padding: 0.75rem 1rem !important;
}

.nav-link path, button path {
  fill: white;
}

.navbar-nav .nav-link:hover, .navbar-brand:hover, .navbar-toggler:hover {
  background-color: rgba(31, 41, 55, .1);
}

.nav-bg {
  background-color: rgba(255, 255, 255, .9) !important;
}

.nav-bg span, .nav-bg a, .navbar-collapse.show a, .navbar-collapse.show span {
  color: var(--black) !important;
}

.nav-bg path, .navbar-collapse.show path, button.black-path path {
  fill: var(--black) !important;
}

.navbar-collapse.show {
  width: 225px;
  position: absolute;
  top: 100px;
  left: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 7px;
}

.navbar-collapse.show a {
  border-radius: 10px;
  padding: 11.25px 22.5px !important;
  font-size: small;
}

.navbar-collapse.show span:active, .navbar-collapse.show path:active {
  color: white !important;
  fill: white !important;
}

.navbar-collapse.collapsing {
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu.show {
  border: none;
  border-radius: 0;
  background-color: white;
  padding: 0.5rem;
}

.dropdown-menu a {
  padding: 0.75rem;
}

.dropdown-menu a:hover {
  background-color: rgba(31, 41, 55, .1) !important;
}

.navbar-collapse a:active, .dropdown-menu a:active {
  background-color: var(--purple-bright) !important;
  color: white !important;
}

.hr-underline {
  background-color: var(--purple-bright);
  opacity: 1;
  margin-top: 1.25rem !important;
  height: 4px;
  width: 6rem;
}

.brands-logo path {
  fill: white;
}

.brands-logo div {
  background-color: white;
  height: 20px;
  border-radius: 10px;
}

.brands-logo div path, .purple-icon path {
  fill: var(--purple-bright);
}

.tag-line {
  max-width: 28rem !important;
}

.darken-hover:hover {
  background-color: hsl(215 28% 17%/0.2);
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.vertical-timeline::before {
  width: 1px !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.vertical-timeline-element-icon svg {
  top: 0 !important;
  left: 0 !important;
  height: 16px !important;
}

.vertical-timeline-element-icon path {
  fill: #374151;
}

.fa-img {
  background-color: #353945;
}

.fa-img path {
  fill: white;
}

.sidebar {
  position: fixed;
  top: 86px;
  left: 0;
  height: calc(100vh - 86px);
}

.side-content {
  position: absolute;
  top: 86px;
  left: 278px;
  right: 0;
}

.sidebar-icon path, .border-gray path {
  fill: var(--gray-sidebar);
}

.sidebar-icon.active path {
  fill: var(--blue-btn);
}

.rotate-180 {
  transform: rotate(180deg);
}

.cursor-pointer {
  cursor: pointer;
}

.profile .form-control {
  border: none !important;
}

.profile path {
  fill: #545F71;
}

.profile .input-group-text span {
  color: #545F71;
}

.profile button path {
  fill: white;
}